[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
ipykernel = "*"
flake8 = "*"

[packages]
pandas = "*"
numpy = "*"
python-dotenv = "*"
spotipy = "*"
flask = "*"
flask-sqlalchemy = "*"
gunicorn = "*"
psycopg2 = "*"
sklearn = "*"
matplotlib = "*"

[requires]
python_version = "3.7"
